.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-Header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.HomeEntry {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
}

.Music {
  background-color: grey;
}

.Music-Player {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
}

.Music-Entry-Container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  align-items: center;
}

.Music-Entry:hover {
  background-color: white;
}

.App-Footer {
  text-align: center;
}